@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --bleu: #0065FC;
    --bleu-clair: #DEEBFF;
    --gris: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.bleu {
    color: var(--bleu);
}

.bleu-clair {
    color: var(--bleu-clair);
}

.gris {
    color: var(--gris);
}

.bg-bleu {
    background-color: var(--bleu);
}

.bg-bleu-clair {
    background-color: var(--bleu-clair);
}

.bg-gris {
    background-color: var(--gris);
}

.bold {
    font-weight: bold;
}

/* 
Header
*/

#inscription {
    color: var(--bleu);
}

header a {
    /* padding: 30px; */
    height: 100%;
    padding: 0 20px;
    line-height: 100px;
    display: inline-block;
}

ul {
    list-style: none;
    height: 100%;
}

li {
    display: inline;
    height:100%;
    float: left;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
color: black;
}

/* visited link */
a:visited {
color: black;
}

/* mouse over link */
a:hover {
color: var(--bleu);
background-color: var(--gris);
transition: all 0.5s ease-in;
}

/* selected link */
a:active {
color:var(--bleu);
background-color: var(--gris);
} 

@media (min-width: 800px) {
    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    #logo {
        position: absolute;
        height: 50px;
        left: 15px;
        top: 25px;
    }
  } 

@media (max-width: 800px) {

    header {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        height: 200px;
    }

    #logo {
        height: 50%;
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    nav {
        grid-column: 1/3;
        grid-row: 2;
        margin: auto;
        width: 100vw;
    }
    nav > ul {
        width: auto;
        height: 100%;
        display: inline-block;
    }
    nav li {
        width: 100vw;
        height: 100%;
    }

    nav li a {
        /* color:var(--bleu); */
        border-bottom: 2px var(--gris) solid;
        width: 49%;
        padding: 0%;
        text-align: center;
        } 

    nav li a:active, nav li a:hover {
        color:var(--bleu);
        border-bottom: 2px var(--bleu) solid;
        } 


    #inscription {
        grid-column: 3;
        grid-row: 1;
    }

} 


/* 
Main 
*/

/*
Top Section
*/

#top-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* 
Search Bar
*/

#search-bar {

}

#description, #search-bar, #infos {
    margin-bottom: 15px;
}

#search-form {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border: 2px solid var(--gris);
    border-radius: 15px;
    background-color: var(--gris);
    font-weight: 600;
    box-sizing: content-box;
}

.marker {
    width: 50px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rechercher {
    font-weight: 600;
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

#search-form button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-form input {
    height: 50px;
    width: auto;
    border: none;
    background-color: white;
    padding:  0px 5px;
}

/* 
Filtres
*/

.circle {
    border: 0px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

#filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}

#filtres > h1 {
    margin-right: 15px;
}

.li-filtre {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    border: 2px solid var(--gris);
    border-radius: 25px;
    line-height: 50px;
    font-size: 35px;
    margin: 10px 10px 10px 0px;
}

.filtre-name {
    font-size: 15px;
    font-weight: 800;
    display: inline-block;
    padding: 0 5px;
}

.ul-filtre {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

#infos {
    display: flex;
    align-items: center;
}

main {
    padding: 20px;
    width: 100%;
}

#infos .info-icon-container {
    color: var(--bleu);
    border: 2px solid var(--gris);
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-right: 10px;
}

#infos .info-icon {
    margin-left: 1px;
    font-size: 12px;
}

@media (min-width: 800px) {
    .mobile-only {
        display: none;
    }

} 

@media (max-width: 800px) {
    .desk-only {
        display: none;
    }

    #top-section {
        align-items: center;
    }
} 

/*
Hebergements
*/

#hebergement {
    width: 100%;
    display: flex;
    gap: 30px;
}


#hebergement-ville, #hebergement-populaires {
    padding: 30px;
    background-color: var(--gris);
    border-radius: 20px;
}

#hebergement-ville {
    width: calc(2 * 100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#hebergement-ville .hebergement-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    gap: 20px;
    margin: 20px 0px;
}

.hebergement-card-v {
    width: calc((100% / 3) - 14px);
    height: 16vw;
    padding: 3px;
    background-color: white;
    font-size: 0.8rem;
    border-radius: 15px;
}

.hebergement-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 7vw;
}

#hebergement-populaires {
    width: calc(100% / 3);
}

#hebergement-ville .hebergement-image {
    width: 100%;
    height: 8vw;
}

#hebergement img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
}

.prix {
    font-weight: bold;
}

@media (min-width: 800px) {
    
} 

@media (max-width: 800px) {
    
} 